@using ApplesOrdering.Models;
@model BakeryOrderModel
@{
    ViewBag.Title = "BakeryOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BakeryOrder</h2>

<form class="form-horizontal" action="@Url.Action("BakeryOrder", "Home")" method="post">

    <div class="form-group col-xs-6">
        <label for="OrderName">Pickup Name</label>
        <input type="text" name="OrderName" class="form-control" />
    </div>
    <div class="form-group col-xs-6">
        <label for="PhoneNumber">Phone Number</label>
        <input type="tel" name="Phone Number" class="form-control"  pattern="[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}"/>
    </div>
    <div class="form-group col-xs-6">
        <label for="PickupTime">Pickup Time</label>
        <input type="datetime-local" name="PickupTime" class="form-control" />
    </div>
    <div class="form-group col-xs-6">
        <label for="Size">Size</label>
        <input type="text" name="Size" class="form-control"/>
    </div>
    <div class="form-group col-xs-6">
        <label for="Dough">Dough Type</label>
        <input type="text" name="Dough" class="form-control" />
    </div>
    <div class="form-group col-xs-6">
        <label for="Icing">Icing</label>
        <input type="text" name="Icing" class="form-control" />
    </div>
    <div class="form-group col-xs-6">
        <label for="BorderTrim">Border and Trim</label>
        <input type="text" name="BorderTrim" class="form-control" />
    </div>
    <div class="form-group col-xs-6">
        <label for="MessageInfo">Message and Special Instructions</label>
        <textarea name="MessageInfo" class="form-control"></textarea>
    </div>
    <div class="form-group col-xs-6">
        <label for="Kitname">Kit Name</label>
        <input type="text" name="Kitname" class="form-control" />
    </div>
    <div class="form-group col-xs-6">
        <label for="KitNumber">Size</label>
        <input type="number" name="KitNumber" class="form-control" />
    </div>
    <div class="form-group col-xs-6">
        <label for="StoreId">Pickup Location</label>
        <input type="number" name="StoreId" class="form-control" />
    </div>

    <button type="submit">Submit</button>
</form>