@using ApplesOrdering.Models;
@model DeliOrderModel
@{
    UserInfoModel user = new UserInfoModel();
    ViewBag.Title = "DeliOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["User"] != null)
    {
        user = Session["User"] as UserInfoModel;
    }

}

<h2>DeliOrder</h2>

@if (Session["User"] != null)
{
    <form action="@Url.Action("DeliOrder", "Home")" method="post">
        <div class="form-group col-md-6">
            <label for="OrderName">Pickup Name</label>
            <input type="text" name="OrderName" class="form-control" required />
        </div>
        <div class="form-group col-md-6">
            <label for="PhoneNumber">Phone Number</label>
            <input type="tel" name="PhoneNumber" class="form-control" required />
        </div>
        <div class="form-group col-md-6">
            <label for="PickUpTime">Pickup Time</label>
            <input type="datetime-local" name="PickUpTime" class="form-control" required />
        </div>
        <div class="form-group col-md-6">
            <label for="NumberOfPieces">Number Of Pieces</label>
            <input type="number" name="NumberOfPieces" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <label for="StoreId">Pickup Location</label>
            <select class="form-control" name="StoreId">
                <option value="" disabled selected>Select a Store</option>
                <option value="1">Sheffield Lake</option>
                <option value="2">Lorain</option>
                <option value="3">Sheffield Center</option>
                <option value="4">Elyria</option>
                <option value="5">Village Market</option>
                <option value="6">Wellington Apples</option>
            </select>
        </div>
        <input type="hidden" name="UserInfoId" value="@user.Id" />
        <div class="form-group col-md-12">
            <input type="submit" name="Submit" value="Submit Order" />
        </div>
    </form>
}
else
{
    <h3 class="text-center">Please Login To Make An Order</h3>
    <a href="@Url.Action("LoginRegister", "Home")">
        <div class="btn btn-danger">
            Login/Register
        </div>
    </a> 
}