@using ApplesOrdering.Models;

@{
    /**/

    UserInfoModel user = new UserInfoModel(); 

    if (Session["User"] != null)
    {
        user = Session["User"] as UserInfoModel;
    }

}
<h1 class="text-center">Welcome to Apples Ordering!</h1>

@if (user.IsAdmin)
{
    <a href="@Url.Action("Orders", "Home", new { permissionLevel = 1 })">
        <div class="btn btn-block btn-danger">
            Show All Stores Orders
        </div>
    </a>
}
else if (user.IsBakery)
{
    <a href="@Url.Action("Orders", "Home", new { permissionLevel = 2 })">
        <div class="btn btn-block btn-danger">
            View Bakery Orders
        </div>
    </a>
}
else if (user.IsDeli)
{
    <a href="@Url.Action("Orders", "Home", new { permissionLevel = 3 })">
        <div class="btn btn-block btn-danger">
            View Deli Orders
        </div>
    </a>
}
else
{
}
